<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Generated Report</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mt-5">
                Police Report – Manhattan Close Police Station
                A <span class="text-danger"><%= age %></span>-years-old <span class="text-danger"><%= occupation %></span> by name <span class="text-danger"><%= name %></span> from <span class="text-danger"><%= address %></span>,
                <span class="text-danger"><%= city %></span>, presented today with alleged history of a <span class="text-danger"><%= problem %></span> from a <span class="text-danger"><%= location %></span> <span class="text-danger"><%= time %></span>. 
                While <span class="text-danger"><%= injured %></span> has been injured, there <span class="text-danger"><%= incidence %></span> history of multiple cars
                stolen from the same car park. There <span class="text-danger"><%= witness %></span> witness to the incidence
                (……………………………………………………provide name of the witnesses and address) and There <span class="text-danger"><%= recording %></span> 
                (………………….how many) CCTV recording device were located nearby (
                ………………………………..fill address). The student feel <span class="text-danger"><%= feeling %></span> and has written the following, “<span class="text-danger"><%= otherinfo %></span>”
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 text-center mt-3">
                <a href='/form'><button class="btn btn-primary">Back to form</button></a>
            </div>
        </div>
    </div>
</body>
</html>